@media only screen and (max-width: 1080px) {
    body{
        background-color: rgb(255, 233, 255);
    }

    nav{
        flex-flow: column nowrap;
        gap: 2rem;

        #logo-top{
            width: 15rem;
        }

        input{
            width: 70%;
            height: 3.5rem;
        }
    }
    nav .menu{
        display: none;
        flex-flow: column nowrap;
        gap: 5px;
        align-items: center;
        transition: 0.5s;
    }
    nav .menu-hidden{
        display: flex;
        transition: 0.5s;
    }



    .container-banner{
        width: 90%;
        height: 20rem;
    
        img{
            width: 90%;
        }
    }
}


